{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Veggie Sailor - Vegetatian / Vegan Guide</title>
  <meta name="description" content="">
  <meta name="author" content="Rafał Zawadzki">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="{% static "css/normalize.css" %}">
  <link rel="stylesheet" href="{% static "css/skeleton.css" %}">
  <link rel="stylesheet" href="{% static "css/custom.css" %}">


</head>
<body>
  <div class="section hero">
    <div class="container">
      <div class="row">
        <div class="one-half column">
          <h4 class="hero-heading">Sorry, we have a problem with a map for this place.</h4>
        </div>
        <div class="one-half column phones">
          <img class="phone" src="{% static "images/veggiesailor_logo.png" %}">

        </div>
      </div>
    </div>
  </div>

</body>
</html>
