{% load static %}<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>{% block title %}Veggie Sailor{% endblock title %}</title>
<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
<link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>
{% block css %}
{% endblock css %}
</head>
<body>
<header>
 
 
 
<div class="top-bar">
<div class="top-bar-left">

<ul class="menu">
  <li>

  
  <div class="logo"><a href="/"><img  src="{% static "frontend/img/deer_logo_header.png" %}"  width="40" style=""/></div></a></li>
<!--<li><a href="#">One</a></li>-->
<!--<li><a href="#">Two</a></li>-->
<!--<li><a href="#">Three</a></li>-->
<!--<li><a href="#">Four</a></li>-->
</ul>
</div>
<div class="top-bar-right">
                <form method="get" action="{% url "search_view" %}">
<ul class="menu">
{% if user.is_authenticated %}<li><div class="logo"><img src="{{ MEDIA_URL }}/{{ user.userprofile.avatar }}" width="32" class="radius" alt="avatar">&nbsp;</div></li>{% endif %}


<li><input id="id_q" name="q" type="search" placeholder="Vegan Sushi" class="radius" value="{{ query }}"/></li>

<li><button type="submit" class="button hollow">Search</button></li>

</form>

{% if user.is_authenticated %}<li><a href="/logout/" style="padding:0;margin:0"><button type="button" class="button hollow alert"><i class="fi-power"></i></button></a></li>{% else %}
<li><a href="/accounts/login/" style="padding:0;margin:0"><button type="button"  class="button hollow success"><i class="fi-power"></i></button></a></li>{% endif %}
</ul>
</div>
</div>
{% block base_body %}


{% endblock base_body %}

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>



{% block js %}
{% endblock js %}

<script>
      $(document).foundation();
    </script>
<script type="text/javascript" src="https://intercom.zurb.com/scripts/zcom.js"></script>
</body>
</html>
