{% extends "frontend/base.html" %}{% load staticfiles i18n %}
{% block title %}{{ flatpage.title }}{% endblock title %}
{% block meta %}

<meta name="description" content="Vegan French Pâté">
<meta name="keywords" content="vegan vegetarian lentijs recipe pate french">

<meta property="og:title" content="Vegan French Pâté">
<meta property="og:url" content="https://veggiesailor.com/recipes/vegan-french-pate/">
<meta property="og:description" content="An easy recipe for the classic french bread spread.">
<meta property="og:image" content="https://veggiesailor.com/media/entries/photos/480cd9389a7b66472b788ce13c8d1c12.jpg">
<meta property="og:type" content="article">
<meta property="og:site_name" content="Veggie Sailor">



<meta name="twitter:title" content=""Vegan French Pâté">
<meta name="twitter:url" content="https://veggiesailor.com/recipes/vegan-french-pate/">
<meta name="twitter:description" content="An easy recipe for the classic french bread spread.">
<meta name="twitter:image" content="https://veggiesailor.com/static/recipe/img/french_pate.jpg">
<meta name="twitter:site" content="@veggiesailor">

<meta name="twitter:card" content="summary">



<meta itemprop="name" content="Vegan French Pâté">
<meta itemprop="url" content="https://veggiesailor.com/recipes/vegan-french-pate/">
<meta itemprop="description" content="An easy recipe for the classic french bread spread.">
<meta itemprop="image" content="https://veggiesailor.com/static/recipe/img/french_pate.jpg">

{% endblock meta %}

{% block base_body_content %}
<style>
h1  {color: black;}
h2  {color: black;};
h3  {color: black;};
h4  {color: black;};
h5  {color: black;};
h6  {color: black;};
</style>
<div class="" style="background-color: white; color: black">
        <div class="row" >
        <div class="large-12 medium-6 columns">
<h1 class="black">Vegan French Pâté</h1>
<div class="" style="background-color: white;">
<div class="row" >

    <div class="large-6 medium-6 columns">
<h2>Ingredients</h2>
<ul>
  <li>500g of lentils</li>
  <li>4 medium onions</li>
  <li>salt</li>
  <li>pepper</li>
  <li>1 cup of cheakpea flour</li>
  <li>1 tbsp of baking soda</li>
</ul>
<h2>Time of preparing</h2>
<ul>
  <li>1h lentils soaking</li>
  <li>20m lentils cooking</li>
  <li>10m onion preparing</li>
  <li>60m baking under the cover</li>
  <li>20m baking without the cover</li>
</ul>
</div>
<div class="large-6 medium-6 columns end">
<img src="/static/recipe/img/french_pate.jpg"/ title="French Vegan Pâté" alt="French Vegan Pâté"> </br>
<span class="right"><small>Photo - <a href="https://ukata.me">Ukata.me</a></small></span>
</div>
</div>
<div class="row">
<div class="large-12 medium-12 columns">
<h2>Recipe</h2>
<p>Soak lentils for 1 hour. Preheat oven to 180 C. Chop onions into small squares and fry to gold color. Soaked lentils cook in boiled water for 20 minutes. Mix together with flour, sal and pepper, add soda to finally blend.</p>
<p>Pack mixture into well-oiled ramekins or bowl. Cover with aluminium foil and put to oven (180 C) for 60 minutes . After that remove foil and leave inside the oven for another half an hour.</p>
<p>Remove from the oven and before eating -  cool down for around an hour.</p>
<p>Vegan French Pâté can be frozen and stored for months.</p>

</div>
</div>
</div>
</div></div></div>
{% endblock base_body_content %}
