{% extends "frontend/base.html" %}{% load staticfiles i18n %}
{% block title %}Veggie Sailor recipes - {{ object.name }}{% endblock title %}
{% block meta %}

<meta name="description" content="{{ object.name }}">
<meta name="keywords" content="vegan vegetarian lentijs recipe pate french">

<meta property="og:title" content="{{ object.name }}">
<meta property="og:url" content="https://veggiesailor.com{{ recipe.get_absolute_url }}">
<meta property="og:description" content="Veggie Sailor - Recipes - {{ object.name }}">
<meta property="og:image" content="https://veggiesailor.com/static/recipe/img/french_pate.jpg">
<meta property="og:type" content="article">
<meta property="og:site_name" content="Veggie Sailor">



<meta name="twitter:title" content="Vegan French Pâté">
<meta name="twitter:url" content="https://veggiesailor.com/recipes/vegan-french-pate/">
<meta name="twitter:description" content="{{ object.name }}">
<meta name="twitter:image" content="https://veggiesailor.com/static/recipe/img/french_pate.jpg">
<meta name="twitter:site" content="@veggiesailor">

<meta name="twitter:card" content="summary">



<meta itemprop="name" content="Vegan French Pâté">
<meta itemprop="url" content="">
<meta itemprop="description" content="{{ object.name }}">
<meta itemprop="image" content="https://veggiesailor.com/static/recipe/img/french_pate.jpg">

{% endblock meta %}

{% block base_body_content %}
<style>
h1  {color: black;}
h2  {color: black;};
h3  {color: black;};
h4  {color: black;};
h5  {color: black;};
h6  {color: black;};
</style>
<div class="" style="background-color: white; color: black">
        <div class="row" >
        <div class="large-12 medium-6 columns">
<h1 class="black">{{ object.name }}</h1>
<div class="" style="background-color: white;">
<div class="row" >

    <div class="large-6 medium-6 columns">
<h2>Ingredients</h2>
<ul>
{% for ingredient in object.ingredientamount_set.all %}
    <li>{{ingredient}}</li>
{% endfor %%}

</ul>
<h2>Time of preparing</h2>
<ul>
{% for recipe_time in object.recipetime_set.all %}
    <li>{{recipe_time}}</li>
{% endfor %%}

</ul>
</div>
<div class="large-6 medium-6 columns end">
<img src="/media/{{ object.recipeimage_set.all.0.photo }}"/ title="{{ object.name }}" alt="{{ object.name }}"> </br>
<span class="right"><small>Photo - <a href="https://veggiesailor.com">veggiesailor.com</a></small></span>
</div>
</div>
<div class="row">
<div class="large-12 medium-12 columns">
<h2>Method</h2>
{{ object.method|safe }}

</div>
</div>

</div>



</div>

<div id="disqus_thread"></div>
<script>

/**
 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */
/*
var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = '//veggiesailor.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>


</div>
{% endblock base_body_content %}
