{% extends "frontend/base.html" %}{% load staticfiles i18n %}
{% block title %}{{ flatpage.title }}{% endblock title %}
{% block meta %}

<meta name="description" content="Mediterranean Tabbouleh Salad">
<meta name="keywords" content="vegan vegetarian tabbouleh salad tomatoes parsley bulgur recipe mediterranean lebanese">

<meta property="og:title" content="Mediterranean Tabbouleh Salad">
<meta property="og:url" content="https://veggiesailor.com/recipes/mediterranean-tabbouleh-salad/">
<meta property="og:description" content="Mediterranean recipe for classic vegetable salad Tabbouleh.">
<meta property="og:image" content="https://veggiesailor.com/static/recipe/img/tabbouleh_salad.jpg">
<meta property="og:type" content="article">
<meta property="og:site_name" content="Veggie Sailor">



<meta name="twitter:title" content="Mediterranean Tabbouleh Salad">
<meta name="twitter:url" content="https://veggiesailor.com/recipes/mediterranean-tabbouleh-salad/">
<meta name="twitter:description" content="Mediterranean recipe for classic vegetable salad Tabbouleh.">
<meta name="twitter:image" content="https://veggiesailor.com/static/recipe/img/tabbouleh_salad.jpg">
<meta name="twitter:site" content="@veggiesailor">

<meta name="twitter:card" content="summary">



<meta itemprop="name" content="Mediterranean Tabbouleh Salad">
<meta itemprop="url" content="https://veggiesailor.com/recipes/mediterranean-tabbouleh-salad/">
<meta itemprop="description" content="Mediterranean recipe for classic vegetable salad Tabbouleh.">
<meta itemprop="image" content="https://veggiesailor.com/static/recipe/img/tabbouleh_salad.jpg">

{% endblock meta %}

{% block base_body_content %}
<style>
h1  {color: black;}
h2  {color: black;};
h3  {color: black;};
h4  {color: black;};
h5  {color: black;};
h6  {color: black;};
</style>
<div class="" style="background-color: white; color: black">
        <div class="row" >
        <div class="large-12 medium-6 columns">
<h1 class="black">Mediterranean Tabbouleh Salad</h1>
<div class="" style="background-color: white;">
<div class="row" >

    <div class="large-6 medium-6 columns">
<h2>Ingredients</h2>
<ul>
  <li>&#189; cup bulgur</li>
  <li>1 cup of hot boiled water</li>
  <li>2 medium tomatoes</li>
  <li>2 cups finely chopped fresh parsley</li>
  <li>&#189; cup finely chopped fresh mint</li>
  <li>1 medium spring onion</li>
  <li>juice of 2 lemons</li>
  <li>3 tbsp of olive oil</li>
  <li>salt</li>
  <li>black pepper</li>
</ul>
<h2>Time of preparing</h2>
<ul>
  <li>20 min of soaking bulgur, meanwhile preparing the rest ingredients</li>
  <li>30 min for cooling the salad</li>
</ul>
</div>
<div class="large-6 medium-6 columns end">
<img src="/static/recipe/img/tabbouleh_salad.jpg" title="Mediterranean Tabbouleh Salad" alt="Mediterranean Tabbouleh Salad"> </br>
<span class="right"><small>Photo - <a href="https://ukata.me">Ukata.me</a></small></span>
</div>
</div>
<div class="row">
<div class="large-12 medium-12 columns">
<h2>Recipe</h2>
<p>Rinse &#189; cup of bulgur in a sieve until the water runs clear. Drain well, then transfer to a heatproof bowl. Pour over 1 glass of hot-boiling water, cover tightly and leave soaking for 20 min.</p>
<p>Meanwhile wash well parsley, mint and onion, dry and chop finely. Put the chopped herbs and onion in a large bowl. Peel tomatoes using boiled water, deseed and dice finely. Add them to the bowl.</p>
<p>When bulgur is drained, add it to the other ingredients and pour with olive oil and lemon juice.</p>
<p>Mix thoroughly, season with salt and pepper and keep cooling down in fridge for half an hour.</p>

</div>
</div>
</div>
</div>

<div id="disqus_thread"></div>
<script>

/**
 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */
/*
var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = '//veggiesailor.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>


</div>
{% endblock base_body_content %}
