-e git+https://github.com/django/django.git@stable/1.8.x#egg=django
django-zurb-foundation
psycopg2
djangorestframework
markdown
django-filter
python-social-auth
uwsgi
django-sb-admin==0.3.6
Pillow
sphinxcontrib-napoleon
django-dia
django-haystack==2.4.1
elasticsearch==2.1.0
django-meta==0.3.1
django-autoslug==1.9.3
pytils==0.3
Unidecode==0.4.18
django-debug-toolbar==1.4
