-e git+https://github.com/django/django.git@stable/1.8.x#egg=django
django-zurb-foundation
psycopg2
djangorestframework
markdown
django-filter
python-social-auth
uwsgi
django-sb-admin==0.3.5
Pillow
sphinxcontrib-napoleon
django-dia
