-e git+https://github.com/django/django.git@stable/1.8.x#egg=django
django-zurb-foundation==5.5.0
psycopg2
djangorestframework
markdown
django-filter
python-social-auth
uwsgi
django-sb-admin==0.3.6
Pillow
sphinxcontrib-napoleon
django-dia
django-haystack==2.4.1
elasticsearch==2.2.0
django-meta==0.3.2
django-autoslug==1.9.3
pytils==0.3
Unidecode==0.04.19
django-debug-toolbar==1.4
httpretty==0.8.14
unittest2==1.1.0
parsedatetime==1.5
codacy-coverage==1.2.8
coverage==4.0.3
django-coverage==1.2.4
geopy==1.11.0
