{% extends "frontend/base.html" %}{% load staticfiles %}
{% block meta %}

<meta name="description" content="{{ query }} - search results.">
<meta name="keywords" content="{{ query }}, vegeterian, vegan, bar, restaurant">
<meta property="og:title" content="Welcome to Veggie Sailor">
<meta property="og:url" content="https://veggiesailor.com/search/?q={{ query }}">
<meta property="og:description" content="{{ query }} - search results.">

<meta property="og:image" content="{% if object_list.0.object.get_images_533_400.0.photo %}https://veggiesailor.com/media/{{ object_list.0.object.get_images_533_400.0.photo }}{% else %}https://veggiesailor.com/static/frontend/img/logo.png{% endif %}">
<meta property="og:type" content="article">
<meta property="og:site_name" content="Veggie Sailor">
<meta name="twitter:title" content="Welcome to Veggie Sailor">
<meta name="twitter:url" content="https://veggiesailor.com/search/?q={{ query }}">
<meta name="twitter:description" content="{{ query }} - search results.">
<meta name="twitter:image" content="{% if object_list.0.object.get_images_533_400.0.photo %}https://veggiesailor.com/media/{{ object_list.0.object.get_images_533_400.0.photo }}{% else %}https://veggiesailor.com/static/frontend/img/logo.png{% endif %}">
<meta name="twitter:site" content="@veggiesailor">
<meta name="twitter:card" content="summary">
<meta itemprop="name" content="Welcome to Veggie Sailor">
<meta itemprop="url" content="https://veggiesailor.com/search/?q={{ query }}">
<meta itemprop="description" content="{{ query }} - search results.">
<meta itemprop="image" content="{% if object_list.0.object.get_images_533_400.0.photo %}https://veggiesailor.com/media/{{ object_list.0.object.get_images_533_400.0.photo }}{% else %}https://veggiesailor.com/static/frontend/img/logo.png{% endif %}">
{% endblock meta %}
{% block base_body_content %}
    <!--<h2>Search</h2>-->
    <div class="large-12" style="background-color:white">

    <form method="get" action=".">
        <!--<table>-->
            <!--{{ form.as_table }}-->
            <!--<tr>-->
                <!--<td>&nbsp;</td>-->
                <!--<td>-->
                    <!--<input type="submit" value="Search">-->
                <!--</td>-->
            <!--</tr>-->
        <!--</table>-->
        {% if query %}
            <!--<h3>Results</h3>-->
            <div class="row">
        <div class="large-12 columns">
        <h2 class="black">Search results</h2>
        </div>
        </div>
            {% for result in object_list %}
            

<div class="result-panel row" >


        <div class="medium-4 large-2 columns " style="padding:0px;">
<span class=" level{{ result.object.level }}-color level-label-class" style="position:absolute;left:-22px;top:-22px ">{{ result.object.get_level_display }}</span>                                        

                {% if result.object.get_images_533_400.0.photo %}
                          <a href="{{ result.object.get_absolute_url }}"> <span> </span><img style="padding:0px; border: solid 0px #9c3" src="{{ MEDIA_URL }}{{ result.object.get_images_533_400.0.photo }}" alt="book cover" class="thumbnail"></a>
                {% else %}
          <a href="{{ result.object.get_absolute_url }}"> <span> </span><img style="border: solid 2px #000" src="{% static "images/no_photo.png" %}" alt="no photo" class=""></a>
{% endif %}
        </div>

        <div class="medium-8 large-10 columns">

          <div class="row">

            <div class=" large-8 columns">
                <h3>                    <a href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a></h3>
                <h5>{{ result.object.address1 }}{% if result.object.address2 %}, {{ result.object.address2 }}, {% endif %}, {{ result.object.city}}  {{ result.object.zipcode }}</h5>

                              <p class="black">{% if result.object.short_description %}{{ result.object.short_description|striptags|safe }}{% else %}No description.{% endif %}</p>
                                    <h6 class="black">Cuisines: {% if result.object.cuisines.all %}{{ result.object.cuisines.all|join:", " }}{% else %}Unknown{% endif %}</h6>


              <!--<p><a href="#"> Info</a> | <a href="#">Buy this book</a></p>-->
            </div>

            <div class=" large-4 columns">
                            <h6 class="black">{{ result.object.region.get_parents_list|join:", " }}</h6>

              <!--<a href="#"  class="button  expand medium"><span>Open Book</span> </a>-->

              <!--<a href="#"  class="button  expand medium"><span>Add to List</span></a> -->
              
            <ul class="inline-list">
                {% for i in result.object.get_rating_lists.0 %}
                    <li><img src="{% static "frontend/img/leaf.png" %}" /></li>
                {% endfor %}
                {% for i in result.object.get_rating_lists.1 %}
                    <li><img src="{% static "frontend/img/leaf_05.png" %}" /></li>
                {% endfor %} 
                {% for i in result.object.get_rating_lists.2 %}
                    <li><img src="{% static "frontend/img/leaf_0.png" %}" /></li>
                {% endfor %}             
                </ul>              
              
                    <a href="{{ result.object.get_absolute_url }}" class="button info radius" style="color: black"><strong>Sail there</strong></a></br>
                                          <strong>Price level: </strong>{{ result.object.get_price_display }}



            </div>

            <div class="row" >

              <div class=" large-12 columns " >


                      <!--<li><strong>Published:</strong> 2008</li>-->

                      <!--<li><strong>More info:</strong> Lorem ipsum</li>-->

                      <!--<li><strong>More cat stuff: </strong> cats cats cats</li>-->



                      <!--<li><strong>Wow cats:</strong> so wow</li>-->

                      <!--<li><strong>Lorem cats:</strong> ipsum kitty</li>-->

                      <!--<li><strong>Series:</strong> all the cats</li>-->

                    





              </div>

            </div>

          </div>

        </div>

       <!--<hr/>-->

      </div>
             
            
                <!--<p>-->
                    <!--<a href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a>-->
                <!--</p>-->
            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
    
    </div>
{% endblock %}