{% extends "foundation/base.html" %}
{% block base_body %}
<nav class="top-bar" data-topbar>
<ul class="title-area">
 
<li class="name">
<h1>
<a href="#">
Veggie Sailor
</a>
</h1>
</li>
<li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
</ul>
<section class="top-bar-section">
 
<ul class="right">
<li class="divider"></li>
<li class="has-dropdown">
<a href="#">Main Item 1</a>
<ul class="dropdown">
<li><label>Section Name</label></li>
<li class="has-dropdown">
<a href="#" class="">Has Dropdown, Level 1</a>
<ul class="dropdown">
<li><a href="#">Dropdown Options</a></li>
<li><a href="#">Dropdown Options</a></li>
<li><a href="#">Level 2</a></li>
<li><a href="#">Subdropdown Option</a></li>
<li><a href="#">Subdropdown Option</a></li>
<li><a href="#">Subdropdown Option</a></li>
</ul>
</li>
<li><a href="#">Dropdown Option</a></li>
<li><a href="#">Dropdown Option</a></li>
<li class="divider"></li>
<li><label>Section Name</label></li>
<li><a href="#">Dropdown Option</a></li>
<li><a href="#">Dropdown Option</a></li>
<li><a href="#">Dropdown Option</a></li>
<li class="divider"></li>
<li><a href="#">See all &rarr;</a></li>
</ul>
</li>
<li class="divider"></li>
<li><a href="#">Main Item 2</a></li>
<li class="divider"></li>
<li class="has-dropdown">
<a href="#">Main Item 3</a>
<ul class="dropdown">
<li><a href="#">Dropdown Option</a></li>
<li><a href="#">Dropdown Option</a></li>
<li><a href="#">Dropdown Option</a></li>
<li class="divider"></li>
<li><a href="#">See all &rarr;</a></li>
</ul>
</li>
</ul>
</section>
</nav>
 
 
<div class="row">
 
<div class="large-9 columns">
<h3>Get in Touch!</h3>
<p>We'd love to hear from you. You can either reach out to us as a whole and one of our awesome team members will get back to you, or if you have a specific question reach out to one of our staff. We love getting email all day <em>all day</em>.</p>
<div class="section-container tabs" data-section>
<section class="section">
<h5 class="title"><a href="#panel1">Contact Our Company</a></h5>
<div class="content" data-slug="panel1">
<form>
<div class="row collapse">
<div class="large-2 columns">
<label class="inline">Your Name</label>
</div>
<div class="large-10 columns">
<input type="text" id="yourName" placeholder="Jane Smith">
</div>
</div>
<div class="row collapse">
<div class="large-2 columns">
<label class="inline"> Your Email</label>
</div>
<div class="large-10 columns">
<input type="text" id="yourEmail" placeholder="jane@smithco.com">
</div>
</div>
<label>What's up?</label>
<textarea rows="4"></textarea>
<button type="submit" class="radius button">Submit</button>
</form>
</div>
</section>
<section class="section">
<h5 class="title"><a href="#panel2">Specific Person</a></h5>
<div class="content" data-slug="panel2">
<ul class="large-block-grid-5">
<li><a href="/cdn-cgi/l/email-protection#0f626e634f7c6a7d6a61667b76216d6c217d6a6d"><img src="http://placehold.it/200x200&amp;text=[person]">Mal Reynolds</a></li>
<li><a href="/cdn-cgi/l/email-protection#bfc5d0daffccdacddad1d6cbc691dddc91cddadd"><img src="http://placehold.it/200x200&amp;text=[person]">Zoe Washburne</a></li>
<li><a href="/cdn-cgi/l/email-protection#cba1aab2a5ae8bb8aeb9aea5a2bfb2e5a9a8e5b9aea9"><img src="http://placehold.it/200x200&amp;text=[person]">Jayne Cobb</a></li>
<li><a href="/cdn-cgi/l/email-protection#63070c0023100611060d0a171a4d01004d110601"><img src="http://placehold.it/200x200&amp;text=[person]">Simon Tam</a></li>
<li><a href="/cdn-cgi/l/email-protection#53383a3f3f2a3c26243a273b3e2a3e3a3d3713203621363d3a272a7d31307d213631"><img src="http://placehold.it/200x200&amp;text=[person]">River Tam</a></li>
<li><a href="/cdn-cgi/l/email-protection#d4b8b1b5b2bbbaa0bcb1a3bdbab094a7b1a6b1babda0adfab6b7faa6b1b6"><img src="http://placehold.it/200x200&amp;text=[person]">Hoban Washburne</a></li>
<li><a href="/cdn-cgi/l/email-protection#8defe2e2e6cdfee8ffe8e3e4f9f4a3efeea3ffe8ef"><img src="http://placehold.it/200x200&amp;text=[person]">Shepherd Book</a></li>
<li><a href="/cdn-cgi/l/email-protection#167d7a73735665736473787f626f38747538647374"><img src="http://placehold.it/200x200&amp;text=[person]">Kaywinnet Lee Fry</a></li>
<li><a href="/cdn-cgi/l/email-protection#f89196998a99b89f8d91949cd69b979588d6999494"><img src="http://placehold.it/200x200&amp;text=[person]">Inarra Serra</a></li>
</ul>
</div>
</section>
</div>
</div>
 
 
<div class="large-3 columns">
<h5>Map</h5>
 
<p>
<a href="" data-reveal-id="mapModal"><img src="http://placehold.it/400x280"></a><br/>
<a href="" data-reveal-id="mapModal">View Map</a>
</p>
<p>
123 Awesome St.<br/>
Barsoom, MA 95155
</p>
</div>
 
</div>
 
 
<footer class="row">
<div class="large-12 columns">
<hr/>
<div class="row">
<div class="large-6 columns">
<p>&copy; Copyright no one at all. Go to town.</p>
</div>
<div class="large-6 columns">
<ul class="inline-list right">
<li><a href="#">Link 1</a></li>
<li><a href="#">Link 2</a></li>
<li><a href="#">Link 3</a></li>
<li><a href="#">Link 4</a></li>
</ul>
</div>
</div>
</div>
</footer>
 
 
<div class="reveal-modal" id="mapModal">
<h4>Where We Are</h4>
<p><img src="http://placehold.it/800x600"/></p>
 
<a href="#" class="close-reveal-modal">&times;</a>
</div>
<script>
  document.write('<script src=js/vendor/' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>
<script src="../../assets/js/jquery.js"></script>
<script src="js/foundation.min.js"></script>
<script>
    $(document).foundation();
  </script>
<script src="../assets/js/templates/jquery.js"></script>
<script src="../assets/js/templates/foundation.js"></script>
<script>
      $(document).foundation();

      var doc = document.documentElement;
      doc.setAttribute('data-useragent', navigator.userAgent);
    </script>
<script type="text/javascript">
/* <![CDATA[ */
(function(){try{var s,a,i,j,r,c,l=document.getElementsByTagName("a"),t=document.createElement("textarea");for(i=0;l.length-i;i++){try{a=l[i].getAttribute("href");if(a&&a.indexOf("/cdn-cgi/l/email-protection") > -1  && (a.length > 28)){s='';j=27+ 1 + a.indexOf("/cdn-cgi/l/email-protection");if (a.length > j) {r=parseInt(a.substr(j,2),16);for(j+=2;a.length>j&&a.substr(j,1)!='X';j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}j+=1;s+=a.substr(j,a.length-j);}t.innerHTML=s.replace(/</g,"&lt;").replace(/>/g,"&gt;");l[i].setAttribute("href","mailto:"+t.value);}}catch(e){}}}catch(e){}})();
/* ]]> */
</script>
{% endblock base_body %}