{% load i18n %}
{% trans "Eclectic (Fusion)" %}
{% trans "Eclectic (Varied)" %}
{% trans "Mediterranean" %}
{% trans "Spanish" %}
{% trans "Italian" %}
{% trans "Middle Eastern/Persian" %}
{% trans "English" %}
{% trans "Jewish (Eastern European)" %}
{% trans "Russian" %}
{% trans "Raw Food" %}
{% trans "French" %}
{% trans "Chinese" %}
{% trans "Brazilian" %}
{% trans "German" %}
{% trans "Korean" %}
{% trans "Greek" %}
{% trans "American" %}
{% trans "Indian" %}
{% trans "Macrobiotic" %}
{% trans "Hungarian" %}
{% trans "Pizza" %}
{% trans "Indian (Southern)" %}
{% trans "Vietnamese" %}
{% trans "South American" %}
{% trans "Japanese" %}
{% trans "Thai" %}
{% trans "Cantonese" %}
{% trans "Dim Sum" %}
{% trans "Taiwanese" %}
{% trans "Szechuan" %}
{% trans "Indian (Northern)" %}
{% trans "Italian (Southern)" %}
{% trans "Deli" %}
{% trans "Mexican" %}
{% trans "Indonesian" %}
{% trans "Caribbean" %}
{% trans "Sri Lankan" %}
{% trans "African" %}
{% trans "Soul Food" %}
{% trans "Tibetan" %}
{% trans "Turkish" %}
{% trans "Ethiopian/Eritrean" %}
{% trans "Nepalese" %}
{% trans "Italian (Northern)" %}
{% trans "Cambodian" %}
{% trans "Central American" %}
{% trans "Indo-Chinese" %}
{% trans "Lebanese" %}
{% trans "Moroccan" %}
{% trans "Romanian" %}
{% trans "Tex-Mex" %}
{% trans "Hmong" %}
{% trans "Malaysian" %}
{% trans "Jewish (Sephardic)" %}
{% trans "Cajun" %}
{% trans "Mongolian" %}
{% trans "Egyptian" %}
{% trans "Hunanese" %}
{% trans "South African" %}
{% trans "Ghanaian" %}
{% trans "North African" %}
{% trans "West African" %}
{% trans "Burmese" %}
{% trans "Northern (Beijing)" %}
{% trans "Hot Pot" %}
{% trans "Afghani" %}
{% trans "Laotian" %}
{% trans "Filipino" %}
{% trans "Hakka" %}
{% trans "Kurdish" %}

{% trans 'Not clear' %}
{% trans 'Yes' %}
{% trans 'No' %}
{% trans 'Not sure' %}
{% trans "Wi-Fi" %}
{% trans "(Mostly) Organic" %}
{% trans "Brunch" %}
{% trans "Happy Hour" %}
{% trans "Quiet" %}
{% trans "Kid-Friendly" %}
{% trans "Delivery" %}
{% trans "Outdoor Seating" %}
{% trans "Large Group-Friendly" %}
{% trans "Private Rooms" %}
{% trans "Romantic" %}
{% trans "Buffet" %}
{% trans "Live Music" %}
{% trans "Gluten-Free Options" %}
{% trans "Valet Parking" %}
{% trans "Kosher" %}
{% trans "Restaurant" %}
{% trans "Grocery/Bakery/Deli" %}
{% trans "Coffee/Tea/Juice" %}
{% trans "Other" %}
{% trans "Bar" %}
{% trans "Food Court or Street Vendor" %}
{% trans "General Store" %}
{% trans "Caterer" %}
{% trans "Hotel/B&B" %}
{% trans "Organization" %}
