{% extends "f6/base.html" %}{% load i18n %}
{% block css %}
<style>
.log-in-form {
  border: 1px solid #cacaca;
  padding: 1rem;
  border-radius: 3px; }
  </style>
{% endblock css %}
{% block base_body %}


<div class="row">
  <div class="medium-6 large-6 columns">

    <form method="POST">
    {% csrf_token %} 
      <div class="row column log-in-form">
        <h4 class="text-center">Log in with you email account</h4>
        <label>Username
          <input name="username" id="id_username" type="text" placeholder="somebody@example.com">
        </label>
        <label>Password
          <input id="id_password" name="password" type="password" placeholder="Password">
        </label>
        <button type="submit" class="button expanded success">Log In</button>
        <button class="button expanded alert" type="button">
                Forgot your password?
</button>
        
                <a href="/accounts/register/" type="button" class="hollow button expanded">Register</a>

      </div>
    </form>

  </div>
    <div class="medium-6 large-6 columns">
      <div class="row column log-in-form">
        <h4 class="text-center">Log in with you social account</h4>
      <button class="hollow button expanded" type="button">
                <a  href="/login/google-oauth2/">
<i class="fi-social-google-plus"></i> Google Plus</a>
    </a>
</button>
<button class="hollow button expanded" type="button">
    <a href="/login/facebook/"><i class="fi-social-facebook"></i> Facebook </a>
</button>
<button class="hollow button expanded" type="button">
    <a href="/login/twitter/"><i class="fi-social-twitter"></i> Twitter </a>
</button>
{% comment %}
<button class="hollow button expanded" type="button">
                <a href="/login/vk-oauth2/">VKontakt</a>
</button>
{% endcomment %}
<button class="hollow button expanded" type="button">
                <a href="/login/meetup/">Meetup</a>
</button>

            <form method="post" action="/complete/persona/">
                  <input type="hidden" name="assertion" value="" />
<button class="hollow button expanded" type="button">
                <span id="persona">Persona</span>
</button>
                </form>


      </div>


  </div>
</div>





{% comment %}

        <h4 class="page-header">using your social network accounts:</h4>
        <div class="row omb_row-sm-offset-3 omb_socialButtons">
            <div class="col-xs-4 col-sm-2">
              <a href="/login/facebook/" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i>Facebook
              </a>
            </div>
            <div class="col-xs-4 col-sm-2">
                <form method="post" action="/complete/persona/">
                  <input type="hidden" name="assertion" value="" />
                     <a id="persona" class="btn btn-block btn-social btn-info">
                      <i class="fa fa-envelope"></i>Persona
                     </a>
                </form>

            </div>
            <div class="col-xs-4 col-sm-2">
                <a href="/login/vk-oauth2/"  class="btn btn-block btn-social btn-vk">
                    <i class="fa fa-vk"></i>VKontakt
                </a>
            </div>            

            <div class="col-xs-4 col-sm-2">
                <a  href="/login/google-oauth2/"  class="btn btn-block btn-social btn-google">
                    <i class="fa fa-google"></i>Google
                </a>            
            </div>	            
        </div>
        <form action="/login/openid/" method="POST">{% csrf_token %}
        <h4 class="page-header">or with OpenID:</h4>
          <div class="row">
          <div class="col-lg-8">
          
                <input type="text" class="form-control" name="openid_identifier" id="openid_identifier"  placeholder="Your OpenID Provider">
        </div>
        
        <div class="col-lg-4">
                  <button class="btn btn-social btn-openid" type="submit">
                    <i class="fa fa-openid"></i>OpenID
                </button>  
            
            </div>   
                            

            </div>          
            </form>
            
                    
  </div>              
    <form class="form-horizontal" action='.' method="POST">{% csrf_token %} 
{% if form.errors and not form.non_field_errors %}
<p class="errornote">
{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
</p>
{% endif %}
{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="fa fa-info-circle"></i>  <strong>{{ error }}</strong>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}

 </div> 

  <h2 class="form-signin-heading">Please sign in</h2>
  {{ form.username.errors }}
  <label for="id_username" class="sr-only">Username</label>
  <input type="username" class="form-control" placeholder="Username" required autofocus id="id_username" maxlength="254" name="username" type="text" />
  {{ form.password.errors }}
  <label for="id_password" class="sr-only">Password</label>
  <input  id="id_password" name="password" type="password" class="form-control" placeholder="Password" required>
  <div class="checkbox">
    <!--<label>-->
      <!--<input type="checkbox" value="remember-me"> Remember me-->
    <!--</label>-->
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
{% endcomment %}

{% endblock base_body %}