{% load staticfiles i18n %}
<!doctype html>
{% get_current_language as LANGUAGE_CODE %}
<html class="no-js" lang="{{ LANGUAGE_CODE }}">
<head>
    <head profile="http://www.w3.org/2005/10/profile">
    <link rel="icon" 
          type="image/png" 
          href="{% static "images/favicon32.png" %}">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Rafał Zawadzki, Katia Kru">

    {% block meta %}{% include "meta.html" %}{% endblock meta %}
    {% block base_title %}
    <title>{% block title %}Veggie Sailor{% endblock title %}</title>
    {% endblock base_title %}

    {# Base Foundation CSS #}
    {% block foundation_css %}
    <link href="{% static "foundation/css/normalize.css" %}" rel="stylesheet"/>
    <link href="{% static "foundation/css/foundation.min.css" %}" rel="stylesheet"/>
<!--<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />-->

    {% endblock foundation_css %}  
    
    {# Custom CSS #}
    {% block css %}
    <link href='https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,900,500,700,400italic,500italic,700italic,900italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href="{% static "frontend/css/app.css" %}?katia=2016-01-10" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    {% endblock css %}

    {# Override if you need another version of modernizr #}
    {% block foundation_modernizer %}
    <script src="{% static "foundation/js/vendor/modernizr.js" %}"></script>
    {% endblock foundation_modernizer %}

    {# Custom head JS #}
    {% block head_js %}{% endblock head_js %}
</head>
<body {% block body_attr %}{% endblock body_attr %}>
    {# Main content goes here #}
{% block base_body %}
    {% block base_body_header %}

<div class="contain-to-grid fixed">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1><a href="/"><img  src="{% static "frontend/img/deer_logo_header.png" %}"  width="40" style=""/> <strong></strong></a> </h1>
            </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
                <li class="has-form">
                <form method="get" action="{% url "search_view" %}">
                    <div class="row collapse">
                        <div class="large-9 small-9 columns">
                            <input id="id_q" name="q" type="search" placeholder="" class="radius" value="{{ query }}">
                        </div>
                        <div class="large-3 small-3 columns">
                            <button class="secondary button expand radius">{% trans "Sail" %}!</button>
                        </div>
                    </div>
                </form>
                </li>
                <!--<li><a href="#">Help</a></li>-->
                <!--<li class="has-dropdown">-->
                    <!--<a href="#">My Account</a>-->
                    <!--<ul class="dropdown">-->
                        <!--<li><a href="#">link</a></li>-->
                        <!--<li><a href="#">link</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
            </ul>
            <!-- Left Nav Section -->
            <ul class="left">
            </ul>
        </section>
    </nav>
  </div>
{% endblock base_body_header %}
{% block base_body_content %}

{% endblock base_body_content %}

{% endblock base_body %}
<style>
h6.black {
  text-transform: uppercase;
  font-size:12px;
  margin-left: 2px;
  margin-bottom:5px;
  margin-top:40px;
}

div>a {
color: black;
}
div>a:visited {
color: black;
}
div>a:hover {
color: #99cc33;
}

</style>
<div style="background-color:#5e5e5e;  padding-bottom:40px;">
    <div class="row" style="color:black">
        <div class="large-3 columns" style='font-size:12px;'>
            <h6 class="black">About</h6>
            <span class="fa-stack fa-fa-lg">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-question fa-stack-1x"></i>
            </span>
            <a target="_blank" href="https://veggiesailor.freshdesk.com">Support</a></br>
            <span class="fa-stack fa-fa-lg">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-mobile fa-stack-1x"></i>
            </span>
            <a target="_blank" href="https://openrepos.net/content/bluszcz/veggie-sailor">Sailfish OS app</a></br>
        </div>
        <div class="large-3 columns"  style='font-size:12px;'>
        <h6 class="black">Follow</h6>
            <span class="fa-stack fa-fa-lg">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x"></i>
            </span>
            <a target="_blank" href="https://twitter.com/veggiesailor">twitter</a></br>
            <span class="fa-stack fa-fa-lg">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x"></i>
            </span>
            <a target="_blank" href="https://facebook.com/veggiesailor">facebook</a></br>
            <span class="fa-stack fa-fa-lg">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-vk fa-stack-1x"></i>
            </span>
            <a target="_blank" href="https://vk.com/veggiesailor">vkontakte</a></br>
            <span class="fa-stack fa-fa-lg">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-globe fa-stack-1x"></i>
            </span>
            <a target="_blank" href="https://www.meetup.com/Barcelona-Veggie-Sailor/">meetup</a></br>
        </div>
        <div class="large-6 columns" style='font-size:12px;margin-bottom:30px;'>
        <h6 class="black">Contribute</h6>
            <span class="fa-stack fa-fa-lg">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-globe fa-stack-1x"></i>
            </span>
            <a target="_blank" href="https://tree.taiga.io/project/bluszcz-veggie-sailor/">Taiga</a></br>
            <span class="fa-stack fa-fa-lg">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-github fa-stack-1x"></i>
            </span>
            <a target="_blank" href="https://github.com/VeggieSailor/">GitHub</a></br>
                    <span class="fa-stack fa-fa-lg">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-globe fa-stack-1x"></i>
            </span>
            <a target="_blank" href="https://www.transifex.com/veggiesailor/veggiesailor/">Transifex</a></br>
            <span class="fa-stack fa-fa-lg">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-globe fa-stack-1x"></i>
            </span>
            <a target="_blank" href="https://www.vegguide.org/">VegGuide</br>
        </div>   
        
<hr style="height:1px;border-width:0;background-color:black;top:40px;margin-left:15px;margin-right:15px;">
    </div>
            
    <div class="row" style="color:black;">
        <div class="large-12 columns" style='font-size:12px;'>
        <a taget="_blank" href="https://creativecommons.org/licenses/by-sa">  <img class="right" src="{% static "images/CC_by-sa.png" %}" width="100" /> </a>
        <span style="color:black">&copy; 2016 <a style="color:#78ae0e" href="mailto:contact@veggiesailor.com">VeggieSailor</a> - vegetarian open data platform</span> </br/>
        
        <span style="color:black">{% trans "Content powered by" %} &amp; {% trans "Copyright" %} &copy; 2016 <a taget="_blank" style="color:#78ae0e" href="https://vegguide.org">Vegguide.org</a></spam>
        </div>
        
    </div>

</div>
    {# Override if you need another version of jQuery #}
    {% block foundation_jquery %}
    <script src="{% static "foundation/js/vendor/jquery.js" %}"></script>
    {% endblock foundation_jquery %}

    {# Foundation JS #}
    {% block foundation_js %}
    <script src="{% static "foundation/js/foundation.min.js" %}"></script>
    {% endblock foundation_js %}

    {# Custom JS #}
    {% block body_js %}{% endblock body_js %}

    {# Init Foundation #}
    {% block foundation_js_init %}
    <script>
        $(document).foundation();
        
    </script>
    <!--<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>    -->
    <!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//s.glam.pl/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 9]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//s.glam.pl/piwik.php?idsite=9" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->


    {% endblock foundation_js_init %}
<script type="text/javascript" src="https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.js"></script>
<script type="text/javascript">
    FreshWidget.init("", {"queryString": "&widgetType=popup", "utf8": "✓", "widgetType": "popup", "buttonType": "text", "buttonText": "Support", "buttonColor": "black", "buttonBg": "#99cc33", "alignment": "4", "offset": "235px", "formHeight": "500px", "url": "https://veggiesailor.freshdesk.com"} );
</script>
</body>
</html>
