{% extends "frontend/base.html" %}{% load staticfiles %}
{% block base_body_content %}

    <div class="  bg-vs-dark-grey">
        <div class="row bg-white">
            <div class="columns">
                <ul class="vs-crumbs">
                    <li><a href="#">Europe</a></li>
                    <li><a href="#">Spain</a></li>
                    <li><a href="#">Platja D'Aro</a></li>
            </div>
        </div>
    </div>
    <div class="large-12 bg-vs-block-dark-grey "  style="background: url(http://lorempixel.com/800/800/animals/4/) no-repeat; background-size: 100%;">
      <div style="background-color: #000;
    border: 1px solid black;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and ">
        <div class="row" >
            <div class="medium-4 large-2 col-sm-4 columns ">
                <ul class="inline-list">
                    <li><img src="{% static "frontend/img/leaf.png" %}" /></li>
                    <li><img src="{% static "frontend/img/leaf.png" %}" /></li>
                    <li><img src="{% static "frontend/img/leaf.png" %}" /></li>
                    <li><img src="{% static "frontend/img/leaf.png" %}" /></li>
                    <li><img src="{% static "frontend/img/leaf.png" %}" /></li>
                </ul>
                <h2>4.3 / 1 Vote</h2>
                <span class="warning label">Prices $$ - average</span>
                <ul class="green">
                    <li>Restaurant</li>
                 <li>Coffee/Tea/Juice</li>
                 <li>Bar</li> 
                 <li>Hotel/B&amp;B</li>
             </ul>


            </div>
            <div class="medium-4 large-5 columns ">
                <h1 class="green">{{ entry.name }}</h1>
                <h2>Platja D'Aro</h2>
                    <span class="label">Vegan Friendly</span>
                
                    <h2>{{ entry.short_description }}</h2>
                          <h3>Passeig del Mar, 82</h3>
                <h3>Platja d'Aro 17250</h3>
                <p>Hours</p>
            </div>
            <div class="large-5 medium-4 columns ">
      
                            <div class="flex-video">
            <iframe src="https://veggiesailor.com/transformer/entry/12188/map"></iframe>
            
            </div>
            </div>
        </div>
      </div>
    </div>
    <div class="row">

        <div class="large-9 medium-6 columns">
            <p class=""><h3 class="black">Placed next to beach with sea view rooms and vegan dishes (seitan steaks and others) three star hotels. Friendly staff. Also a restaurant facing the sea. Also buffet on breakfast with vegan options.</p>
             Added by VeggieSailor.com on Oct 11 (last updated Oct 11) </h3></p>
        </div>
        <div class="large-3 medium-6 columns">
            <img src="http://lorempixel.com/400/400/animals/4/Awesome place" class="image-entry" />

        </div>
    </div>
    <div class="large-12 columns bg-vs-block-dark-grey ">
        <div class="row">

            <div class="large-9 medium-6  columns vs-margin-top">
              <ul>
                <li>Allows Smoking</li>
                <li>Accepts Reservations</li>

                <li>Payment
                  <ul>
                    <li>MasterCard</li>
                    <li>Visa</li>
                  </ul>
                </li>
                <li>Cuisines
                  <ul>
                    <li>Spanish</li>
                  </ul>
                </li>
                <li>Features
                  <ul>
                    <li>Buffet</li>
                    <li>Large Group-Friendly</li>
                    <li>Outdoor Seating</li>
                    <li>Private Rooms</li>
                    <li>Quiet</li>
                    <li>Romantic</li>
                    <li>Valet Parking</li>
                  </ul>
                </li>                
              </ul>




    



    
    
    
    
    

            </div>
            <div class="large-3 medium-6  columns">
                <img src="http://lorempixel.com/400/400/animals/1/Awesome place" class="image-entry" />
            </div>
        </div>
    </div>

{% endblock base_body_content %}