{% extends "frontend/base.html" %}{% load staticfiles %}
{% block base_body_content %}

    <div class="  bg-vs-dark-grey">
        <div class="row bg-white">
            <div class="columns">
                <ul class="vs-crumbs">


                    {% for obj in entry.region.get_parents_list reversed %}              
                    <li><a href="#">{{ obj }}</a></li>
                    {% endfor %}
                    
            </div>
        </div>
    </div>
    <div class="large-12 bg-vs-block-dark-grey "  style="background: url({{ MEDIA_URL }}{{ entry.get_images_height_400.0.photo }}) no-repeat; background-size: 100%;">
      <div style="background-color: #000;
    border: 1px solid black;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and ">
        <div class="row" >
            <div class="medium-4 large-2 col-sm-4 columns ">
                <ul class="inline-list">
                    <li><img src="{% static "frontend/img/leaf.png" %}" /></li>
                    <li><img src="{% static "frontend/img/leaf.png" %}" /></li>
                    <li><img src="{% static "frontend/img/leaf.png" %}" /></li>
                    <li><img src="{% static "frontend/img/leaf.png" %}" /></li>
                    <li><img src="{% static "frontend/img/leaf.png" %}" /></li>
                </ul>
                <h2>4.3 / 1 Vote</h2>
                <span class="warning label">Prices - {{ entry.get_price_display }}</span>
                <ul class="green">
                {% for category in entry.categories.all %}
                    <li>{{ category.name }}</li>
                    {% endfor %}
             </ul>


            </div>
            <div class="medium-4 large-5 columns ">
                <h1 class="green">{{ entry.name }}</h1>
                <h2>{{ entry.city }}</h2>
                    <span class="label">{{ entry.get_level_display }}</span>
                
                    <h2>{{ entry.short_description }}</h2>
                          <h3>{{ entry.address1 }}</h3>
                          <h3>{{ entry.address2 }}</h3>
                <h3>{{ entry.city}}  {{ entry.zipcode }}</h3>
                <p>Hours</p>
            </div>
            <div class="large-5 medium-4 columns ">
      
                            <div class="flex-video">
            <iframe src="/transformer/entry/{{ entry.vg_object_id}}/map"></iframe>
            
            </div>
            </div>
        </div>
      </div>
    </div>
    <div class="row">

        <div class="large-9 medium-6 columns">
            <p class=""><h3 class="black">{{ entry.description|safe }}</h3></p>
        </div>
        <div class="large-3 medium-6 columns">
            {% if entry.get_images_height_400.0.photo  %}
            <img src="{{ MEDIA_URL }}{{ entry.get_images_height_400.0.photo }}" class="image-entry" />
            {% else %}
            <img src="{% static "images/no_photo.png" %}" class="image-entry" />
            {% endif %}

        </div>
    </div>
    <div class="large-12 columns bg-vs-block-dark-grey ">
        <div class="row">

            <div class="large-3 medium-2  columns vs-margin-top">
              <ul>
                <li>Smoking - {{ entry.allows_smoking_verbose }}</li>
                <li>Reservations - {{ entry.allows_reservations_verbose }}</li>

                <li>Payment
                  <ul>
                  {% for payment in entry.payments.all %}
                    <li>{{ payment.name }}</li>
                  {% endfor %}
                  </ul>
                </li>
                </ul>
            </div>
            <div class="large-3 medium-2  columns vs-margin-top">
                <ul>
                <li>Cuisines
                  <ul>
                  {% for cuisine in entry.cuisines.all %}
                    <li>{{ cuisine.name }}</li>
                  {% endfor %}
                  </ul>
                </li>
                </ul>
            </div>
            <div class="large-3 medium-2  columns vs-margin-top">       
                <ul>
                <li>Features
                  <ul>
                  {% for tag in entry.tags.all %}
                    <li>{{ tag.name }}</li>
                  {% endfor %}

                  </ul>
                </li>                
              </ul>




    



    
    
    
    
    

            </div>
            <div class="large-3 medium-6  columns">
                {% if entry.get_images_height_400.1.photo %}
                <img src="{{ MEDIA_URL }}{{ entry.get_images_height_400.1.photo }}" class="image-entry" />
                {% endif %}
            </div>
        </div>
    </div>

{% endblock base_body_content %}