{% extends "frontend/base.html" %}{% load staticfiles i18n %}
{% block base_body_content %}
<style>

</style>
    <div class="  bg-vs-dark-grey " style="background-color: black !important">
        <div class="row bg-white">
            <div class="columns">
                <ul class="vs-crumbs" style="background-color: black !important">
                    {% for obj in entry.region.get_parents_list reversed %}
                    <li><a href="{% url "search_view" %}?q={{ obj }}">{% trans obj %}</a></li>
                    {% endfor %}
            </div>
        </div>
    </div>
    <div  itemscope itemtype="http://schema.org/Restaurant" class="large-12 bg-vs-block-dark-grey" style="background: url({{ MEDIA_URL }}{{ entry.get_images_height_400.0.photo }}) no-repeat; background-size: 100%;">
      <div style="background-color: #000;border: 1px solid black; opacity: 0.8; filter: alpha(opacity=80); /* For IE8 and */">
        <div class="row" >
{% if messages %}
{% for message in messages %}
        <div data-alert class="alert-box success radius">
  {{ message }}
  <a href="#" class="close">&times;</a>
</div>
    {% endfor %}


{% endif %}        
    {% if perms.content.change_veggiesailorentry %}
    
<div class="panel" id="idAdminPanel">

<a href="refresh/">Refresh page</a>

<a href="" onclick="$('#idAdminPanel').hide();return null;">Hide panel</a>


</div>
    
    {% endif %}

            <div class="medium-4 large-2 col-sm-4 columns ">
            <center>

                <ul class="inline-list">
                {% for i in entry.get_rating_lists.0 %}
                    <li><img src="{% static "frontend/img/leaf.png" %}" /></li>
                {% endfor %}
                {% for i in entry.get_rating_lists.1 %}
                    <li><img src="{% static "frontend/img/leaf_05.png" %}" /></li>
                {% endfor %}
                {% for i in entry.get_rating_lists.2 %}
                    <li><img src="{% static "frontend/img/leaf_0.png" %}" /></li>
                {% endfor %}
                </ul>
                <h2> <span itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating"><span itemprop="ratingValue">{{ entry.rating }}</span> / <span itemprop="ratingCount">{{ entry.rating_count }}</span></span> {% trans "Vote" %}</h2>
                <p class="small"><small>{{ visited_txt }}</small></p>
                <a href="{% url "visit" entry.id %}"><button class="button tiny radius level5-color ">Mark visit</button></a></br>
                {% if entry.price > 0 %}
                <p><small>Price level: 
                {% for price in price_list %}
                <i class="fa fa-euro"></i> 
                {% endfor %}</small>
                </p>
                {% endif %}
                <!--<span class="warning label radius">{% trans "Prices" %} - {% trans entry.get_price_display %}</span>-->
                               </center>

                               <span class="green"><small>{% trans "PAYMENT" %}</small></span>
                                 <ul>
               {% if entry.payments.all.0 %}

                 {% for payment in entry.payments.all %}
                   <li><small>{{ payment.name }}</small></li>
                 {% endfor %}
                 </ul>
                  <span class="green"><small>{% trans "CUISINES" %}</small> </span>
                   <ul>
                   {% for cuisine in entry.cuisines.all %}
                     <li><span itemprop="servesCuisine"><small>{% trans cuisine.name %}</small></span></li>
                   {% endfor %}
                   </ul>
                    <span class="green"><small>{% trans "SMOKING"%}</small></span><ul><li><small>{{ entry.allows_smoking_verbose }}</small></li></ul>
                    <span class="green"><small>{% trans "RESERVATIONS"%}</small></span><ul><li><small>{{ entry.allows_reservations_verbose }}</small></li></ul>


                     </ul>

{% else %}

  <li>Not sure</li>

</ul>
               {% endif %}


            </div>
            <style>
            table tr:nth-of-type(even) {
    background-color: transparent !important;
}</style>




            <div class="medium-4 large-5 columns " >
            <div >
                <h2 class="green"><span itemprop="name">{{ entry.name }}</span></h2>
                </div>
                    <span class=" level{{ entry.level }}-color label">{% trans entry.get_level_display %}</span>
                    <div itemprop="description"><h4>{{ entry.short_description }}</h4></div>
                    <h3>{{ entry.city }}</h3>
                    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <h4><span itemprop="streetAddress">{{ entry.address1 }}</span>{% if entry.address2 %}, {{ entry.address2 }}, {% endif %}, <span itemprop="addressLocality">{{ entry.city}}</span> <span itemprop="postalCode">{{ entry.zipcode }}</span></h4>
                    </div>
                    {% if entry.get_opening_hours_display %}
                        <table style="color: white;background-color: inherit !important;border: none">
                          <caption>{% blocktrans %}Opening hours{% endblocktrans %} <small>{{ entry.is_open_verbose|safe }}</small></caption>
                        {% for oh in entry.get_opening_hours_display %}
                            <tr style="">
                                <td style="">{% trans oh.0 %}</td>
                                <td style="">{{ oh.1 }}</td>
                                <td style="">{{ oh.2 }}</td>

                            </tr>
                        {% endfor %}
                        </table>
                    {% endif %}

                    <ul class="green inline-list" >
                    {% for category in entry.categories.all %}
                        <li>{% trans category.name %}{% if not forloop.last %}, {% endif %}</li>
                        {% endfor %}
                 </ul>


                       <ul class="green inline-list" >
                   {% for tag in entry.tags.all %}
                     <li>{% trans tag.name %}{% if not forloop.last %}, {% endif %}</li>
                   {% endfor %}

                   </ul>


            </div>
            <div class="large-5 medium-4 columns ">

                            <div class="flex-video">
            <iframe src="/transformer/entry/{{ entry.vg_object_id}}/map"></iframe>

            </div>
            </div>
            <div class="row">

                <div class="large-3 medium-2  columns vs-margin-top">

                </div>
                <div class="large-3 medium-2  columns vs-margin-top">

                </div>
                <div class="large-3 medium-2  columns vs-margin-top">

                </div>
                <div class="large-3 medium-6  columns">
                    {% if entry.get_images_height_400.1.photo %}
                    <img alt="{{ entry.name }} in {{ entry.region.name }}, {{ entry.get_level_display }} {{ entry.get_images_height_400.1.title }}" src="{{ MEDIA_URL }}{{ entry.get_images_height_400.1.photo }}" class="image-entry" />
                    {% endif %}
                    <br/>{% autoescape off %}
                    <small>{{ entry.content_object.get_credits_string|safe }}</small>
                    {% endautoescape %}

                </div>
            </div>
        </div>
      </div>
    </div>
    
    
    
    <div class="" style="background-color: white;">
    <div class="row" >

        <div class="large-9 medium-6 columns">



        <div class="" >
        </br>
<h4 class="black">DESCRIPTION</h4>
            <p class="image-entry"><h3 class="black">{{ entry.description|safe }}</h3></p>
        </div>
        
        </div>
                <div class="large-3 medium-6 columns">
            {% if entry.get_images_height_400.0.photo  %}
            <img alt="{{ entry.name }} in {{ entry.region.name }}, {{ entry.get_level_display }} {{ entry.get_images_height_400.0.title }}" src="{{ MEDIA_URL }}{{ entry.get_images_height_400.0.photo }}" class="image-entry" />
            {% elif  entry.get_images_height_348.0.photo %}
            <img alt="{{ entry.name }} in {{ entry.region.name }}, {{ entry.get_level_display }} {{ entry.get_images_height_348.0.title }}" src="{{ MEDIA_URL }}{{ entry.get_images_height_348.0.photo }}" class="image-entry" />
            {% else %}
            <img src="{% static "images/no_photo.png" %}" class="image-entry" />
            {% endif %}

        </div>  
        <div id="disqus_thread"></div>
        <script>
        
        /**
         *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
         *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */
        /*
        var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        */
        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = '//veggiesailor.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>        
                
        
        
      
        
        <h4 class="black">PLACES IN SAME CITY</h4>
        <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">

        {% for other_place in other_places %}

        <li>
          <ul class="pricing-table">
  <li class="title"><small>{{ other_place.name }}</small></li>
  <li class="bullet-item"><small><strong>{{ other_place.get_level_display }}</strong></small></li>
  <li class="description"><small>{{ other_place.short_description }}</small></li>
  <li class="bullet-item"><small>Price level: {{ other_place.get_price_display }}</small></li>
  <li class="bullet-item"><small>{{ other_place.address1 }}</small></li>
  <li class="cta-button"><a class="button small" href="{{ other_place.get_absolute_url }}">Explore now</a></li>
</ul>


        </li>

        {% endfor %}
      </ul>
        </div>

    </div>
        </div>

    <div class="large-12 columns bg-vs-block-dark-grey ">

    </div>

{% endblock base_body_content %}
