{% load staticfiles entry_cards %}
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
    <head profile="http://www.w3.org/2005/10/profile">
    <link rel="icon" 
          type="image/png" 
          href="{% static "images/favicon32.png" %}">
  <title>Veggie Sailor - Vegetatian / Vegan Guide</title>
  <meta name="description" content="">
  <meta name="author" content="Rafał Zawadzki, Katia Kru">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="{% static "css/normalize.css" %}">
  <link rel="stylesheet" href="{% static "css/skeleton.css" %}">
  <link rel="stylesheet" href="{% static "css/custom.css" %}">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <style>
    html,body {
    height:100%;
  min-height:100%;
}

 figure {

    position: relative;
    overflow: auto;


}

 figure img {
    vertical-align: bottom;
}

 figure figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    background: rgba(0,0,0,0.8);
    text-align: center;
    color: #fff; 
    padding: 10px;
}
  </style


        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:title" content="Veggie Sailor" />
        <meta property="twitter:site" content="blvszcz" />
        <meta property="twitter:description" content="SailfishOS edition, powered by Vegguide.org" />
        <meta property="twitter:image:src" content="{% static "images/veggiesailor.png" %}"/>
        <meta property="og:title" content="Veggie Sailor" />
        <meta property="og:url" content="https://veggiesailor.com/" />
        <meta property="og:image" content="https://veggiesailor.com/images/veggiesailor.png" />
        <meta property="og:description" 
          content="SailfishOS edition, powered by Vegguide.org" />
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="VeggieSailor.com" />


</head>
<body>
{% comment %}

<div class="row">
  <div class="col-lg-8">
  {% if not user.is_authenticated %}
    <a href="/login/" class="button" style="float:right; margin:10px;" href="#">Login</a>
  {% else %}
    <a href="/p/" class="button" style="float:right; margin:10px;" href="#">Dashboard</a>
  {% endif %}
  </div>
</div>
{% endcomment %}
<div class="">
<div   class="container" style="width:100%;height:100%; min-height:100%;" >
  <div class="row" style="padding-top:10%">
    <div class="four column" >
      <img class="u-max-full-width"  src="{% static "images/logo_tattoo_420.png" %}"/>
    </div>
  </div>
  
  <div class="row" style="display:block;margin-left:auto;margin-right:">
      <form method="GET" action="/search/">  
      
      <!--<div class="three columns">&nbsp;</div>-->
      <div class="two columns"> <input  class="u-max-full-width"  placeholder="Barcelona Vegan" id="id_q" type="search" name="q"></div>
      <!--<div class="three columns">&nbsp;</div>-->
  </div>
  <div class="row" style="">
      <!--<div class="five columns">&nbsp;</div>-->
      <div class="two   columns">
        <center>
        <button class="u-full-width"> Sail</button>
        <a href="#explore">Explore more</a>
        </center>
      </div>
      
    </form>  
  </div>
  </div>
  <div  style="background-color:#9c3">
  <div class="container" id="explore" >

    <div class="row" >
    <div class="twelve columns">
      <center><h4 class="docs-header" style="color:white;padding-top:1.5em;padding-bottom:0.5em;"><strong>Explore delicious vegan places</strong></h4></center>
       </div>
<div class="twelve columns" style="padding-top:0em;">
               {% skeleton_card_vg 12209 %}
               {% skeleton_card_vg 14327 %}
               {% skeleton_card_vg 20953 %}
</div>
<div class="twelve columns">
               {% skeleton_card_vg 20849 %}
               {% skeleton_card_vg 11981 %}
               {% skeleton_card_vg 7132 %}

</div>
<div class="twelve columns" style="padding-bottom:2.5em;">
               {% skeleton_card_vg 8279 %}
               {% skeleton_card_vg 4411 %}
               {% skeleton_card_vg 10251 %}
               <center>        <a href="#jolla" style="color:white">Mobile app</a></center>

</div>

  </div>
</div>
</div>
</div>

  <div class="section hero moveup"  >
    <div class="container"  id="jolla">

      <div class="row" >
        <div class="one-half column">
        <!--<center><img  width="400px" src="{% static "images/logo_tattoo_640.png" %}"/></center>-->
          <center><h4 class="hero-heading" style="margin-top:3em;">Vegetarian / vegan <em>sailing</em> guide</h4></center>
         <center> <a class="button button-primary" href="https://openrepos.net/content/bluszcz/veggie-sailor">Open Repos</a>
          <a class="button button-primary" href="https://github.com/VeggieSailor/VeggieSailor">Get sources</a></center>
          <center><h5 class="">SailfishOS edition</h5></center>
        </div>
        <div class="one-half column phones">
          <img class="phone" src="{% static "images/veggiesailor.png" %}">
          <img class="phone" src="{% static "images/veggiesailor_2.png" %}">

        </div>
      </div>
    </div>
  </div>

  <div class="section values">
    <div class="container">
      <div class="row">
        <div class="one-half column value">
          <h5 class="value-heading">Open Source</h5>
               <p>Available on very liberate <a href="https://github.com/VeggieSailor/VeggieSailor/blob/master/LICENSE">zlib</a> license. You can adapt to your needs.</p>
        </div>
        <div class="one-half column value">
          <h5 class="value-heading">In Development</h5>
<p>New features are coming: geosearch, favourites, more data providers.</p>
        </div>
        </div>
      <div class="row">
        <div class="one-half column value">
          <h5 class="value-heading">Portable</h5>
<p>Thanks for using QML platform - new platforms are coming!</p>
        </div>
        <div class="one-half column value">
          <h5 class="value-heading">Community driven</h5>
<p><a href="http://www.vegguide.org/">Add / edit content</a>, submit new <a href="https://github.com/bluszcz/VeggieSailor/issues/new">bugs and ideas</a>.</p>
        </div>

      </div>
    </div>
  </div>

  <div class="section get-help">
    <div class="container">
      <h3 class="section-heading">Powered by:</h3>
        <div class="row">
        <div class="two-half column category">
          <a href="http://www.vegguide.org/">
            <img class="u-max-full-width"  src="{% static "images/vegguide-logo-front-page.png" %}">
          </a>
        </div>
      </div>
    </div>
  </div>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//s.glam.pl/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 9]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//s.glam.pl/piwik.php?idsite=9" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->

</body>
</html>
